*{
    margin: 0;
    padding: 0;
    /* background-color:rgb(34, 58, 35) ; */
    background-image: url(./240_F_477623043_4uEb9RtQlyojnw8nkqP1zH8tenQhHbvB.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    
    
    
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    flex-direction: column;
    
}
#weight {
    margin-top: 10px;
    bottom: 5px solid white;
    border-radius: 5px;
    border-color: bisque;
    height: 30px;
    width: 200px;
    border-color:rgb(91, 145, 206) ;
    
}

#height {
  margin-top: 20px;
  bottom: 5px solid white;
    border-radius: 5px;
    border-color:rgb(91, 145, 206) ;
    height: 30px;
    width: 200px;
}

#height :hover{
    border-color: orange;
}

#weight :hover{
    border-color: orange;
}
 


#buttondiv {
    
    margin-top: 60px;
    border-radius: 5px;
}
    
   

h1 {
    color: rgb(91, 145, 206);
    font-weight: 400;
   
}

 

#button{
    border-radius: 5px; 
    border-color:rgb(91, 145, 206) ;
     width: 100px;
    height: 30px;
    color: rgb(91, 145, 206);
  
    
}

#buttondiv :hover{
    border-color: orange;
}


