*{
    margin: 0;
    padding: 0;
    background-color: rgb(41, 40, 40);
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    flex-direction: column;
    
}
#weight {
    margin-top: 10px;
    bottom: 5px solid white;
    border-radius: 5px;
    border-color: bisque;
    height: 20px;
    width: 200px;
    
}

#height {
  margin-top: 20px;
  bottom: 5px solid white;
    border-radius: 5px;
    border-color: bisque;
    height: 20px;
    width: 200px;
}






#button {
    margin-top: 60px;
    border-radius: 5px;
    
    border-color: bisque;
    color:rgb(134, 184, 48); ;
}

h1 {
    color: rgb(134, 184, 48);
}

div button{
    border-radius: 5px;
    
    border-color: bisque;
    color:rgb(134, 184, 48); ;
}
